/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
  min-height: 100vh;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

/* INPUTS */
input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* BUTTON */
button {
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1d4ed8;
  transform: scale(1.02);
}

/* CARD */
.card {
  background: #1f2937;
  padding: 15px;
  border-radius: 12px;
  margin: 10px 0;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
}

/* CAR CARD */
.car-card {
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  background: #1f2937;
}

.car-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.car-card.active {
  background: #2563eb;
  transform: scale(1.05);
}

/* HEADINGS */
h1, h2, h3 {
  margin-bottom: 10px;
}

/* CENTER CONTAINER */
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}